<html class="antialiased">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{$title}}Default title{{/title}}</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js" defer></script>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/docsearch.js@c2.6.3/dist/cdn/docsearch.min.css"
    />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@severellfw">
    <meta name="twitter:title" content="Severell Framework">
    <meta name="twitter:description" content="Severell is a web application framework designed to make developing web apps in Java fun and easy. We have built a great starting point for you to just dive straight into developing your application.">
    <meta name="twitter:creator" content="@severellfw">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image" content="/static/images/twittercard.jpeg">
</head>
<body>
{{$content}}Default content of the page{{/content}}
{{$scripts}}{{/scripts}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/prism.min.js" integrity="sha512-WkVkkoB31AoI9DAk6SEEEyacH9etQXKUov4JRRuM1Y681VsTq7jYgrRw06cbP6Io7kPsKx+tLFpH/HXZSZ2YEQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-bash.min.js" integrity="sha512-undB7JF5cHZkHEnrvpIR6vpLG/3YR5LeDjvGKMDvr5WD7U6Xrkhymp8asv7ausEICQorcKjq3BIjz0vI5yJCnA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.21.0/components/prism-java.min.js" integrity="sha512-p2vAaPEsPvlIESCpoEI5IyzZowfdVZ2O39PsrOrkuTQl+AjD57T4L/Wxv5S8WCToLou0twQZaWO+tt660Rqb6Q==" crossorigin="anonymous"></script>
</body>
</html>